:root{
    -grid-cols: 1;
    -grid-rows: 1;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    background: white; 
    color: #404040;
    width: 100%;
    text-align: center;
}

h3{
    background: #690F6F;
    color:white; 
    width:100px;
    padding: 10px;
    border-radius: 10px;
}

header{
    /* IPN color: #6C1D45, UoM color: #660099
    Color blend: #690F6F*/
    background: #690F6F; 
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav{
    width: 65%;
    font-size: 24px;
}

header nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

header nav ul li{
    border: 2px solid white;
    border-radius: 10px;
    padding: 7px 10px 10px 10px;
}

header nav ul li a{
    color:white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

footer{
    background: #690F6F;
    width: 100%;
    height: 100px;
}

/* ******* */
/* Classes */
/* ******* */

.about-container{
    display:flex;
    justify-content: space-evenly;
}

.about-img{
    width: 300px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.about-text{
    font-size: 16px;
}

.buttons, .etitle{
    background: #404040;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.electrical-container{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.epic{
    border: 4px solid #404040;
    border-radius: 10px; 
    width: 292px;   
    height: 292px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    text-align: justify;
    align-items: center;
    padding: 5px;
    font-size: 16px;
}

.etitle{
    width: 300px;
    height: 35px;
    margin-bottom: 10px;
}

.gridElement{
    font-size: 25px;
    background: #404040;
    color: white;
    text-align: center;
}

.sectionTitle{
    padding: 0% 0% 0% 5%;
}

.separatorContainer{
    display: flex;
    justify-content: center;
}

.separator{
    background: #690F6F;
    width: 95%;
    height: 10px;
    border: 2px solid white;
    border-radius: 15px;
}

/* *** */
/* IDs */
/* *** */

#but1{
    grid-row: 1;
    grid-column:1;
}

#but2{
    grid-row: 2;
    grid-column:1;
}

#but3{
    grid-row: 3;
    grid-column:1;
}

#but4{
    grid-row: 4;
    grid-column:1;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#family{
    transform: rotate(180deg)
}

#img-container{
    grid-row: 2/span 3;
    grid-column: 2;
    border: 4px solid #404040;
    border-radius: 10px;
}

#img{
    height: 100%;
}

#main{
    display:grid;
    width:100%;
    grid-gap: 0px;
    grid-template-columns: 30% 65%;
    grid-template-rows: 1fr 300px;
}

#main p{
    border-radius:20px;
    border: 3px solid #404040;
    padding: 10px;
    text-align: justify;
}

#mainPhoto{
    grid-row: 1/span 2;
    grid-column: 1/span 1;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#mainPhoto img{
    /* Round my profile photo
    Taken from https://www.w3schools.com/howto/howto_css_rounded_images.asp */
    border-radius: 50%;
    width: 200px;
    border: 4px solid #404040;
}

#myLogo{
    text-align: center;
}

#numbersGrid{
    display: grid;
    grid-template-columns: repeat(var(--grid-cols),18px);
    grid-template-rows: repeat(var(--grid-rows),36px);
    grid-gap:2px;
}

/* Background image seen in https://www.w3schools.com/cssref/pr_background-image.asp 
    and https://www.w3schools.com/cssref/css3_pr_background-size.asp */
/*     
#pic1{
    
    background-image: url("./pics/simulation.jpg");
}

#pic2{
    background-image: url("./pics/high-voltage.jpg");
}

#pic3{
    background-image: url("./pics/electric-machinery.jpg");
}

#pic4{
    background-image: url("./pics/power-electronics.jpg");
}  */

#software-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#software-container2{
    width: 90%;
}

#software-grid{
    width:100%;
    background: white;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: repeat(4,100px);
    grid-gap: 5px;
}

#text{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    grid-row: 1;
    grid-column: 2;
    border: 4px solid #404040;
    border-radius: 10px;
}
